.boton{
	height: 10vh;
	width: 20vw;

	font-size: 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5vw;

	color: white;
	text-decoration: none;

	background-color: black;
	border-radius: 1vw;
	border: red solid .5vw;
}

	.boton:hover{
	background-color: darkgrey;
}

@media (max-width: 1000px) {
	.boton{
		width: 70vw;

		font-size: 8vw;

		border: red solid 2vw;
	}
}

.botonChiquito{
	color: black;
	background-color: black;
}

.botonChiquito:hover{
	color: gray;
	background-color: gray;
	cursor: pointer;
}

.botonChiquito:active{
	background-color: black;
	color: white;
}